<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <section class="py-5">
      <div class="container">
        <p><%= @checkout.decorate.display_name %> 様</p>
        <p class="mt-3">この度は1616shopをご利用いただきまして、誠にありがとうございます。</p>
        <div class="card mt-5 d-block">
          <div class="card-header bg-white text-center fw-bold">
            <div><%= @checkout.created_at.to_s(:date) %> に発送済み</div>
          </div>
          <div class="card-body">
            <table class="table table-borderless">
              <tr>
                <th>注文商品</th>
                <th></th>
                <th>価格</th>
              </tr>
              <% @checkout_products.each do |checkout_product| %>
                <tr>
                  <td>
                    <div class="mt-3 mb-3 d-flex p-0">
                      <%= checkout_product.quantity %>点  <%= checkout_product.product.name %>
                    </div>
                  </td>
                  <td></td>
                  <td><%= number_to_currency(price(checkout_product)) %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="card-footer bg-white">
            <p class="fw-bold">お届け先住所：</p>
            <p><%= @checkout.decorate.display_name %></p>
            <div class="d-flex">
              <p><%= @checkout.prefecture.name %></p>
              <p class="ms-2"><%= @checkout.address %></p>
            </div>
            <p><%= @checkout.address2 %></p>
          </div>
        </div>
        <div class="card mt-5 d-block">
          <div class="card-header bg-white text-center fw-bold">
            <div>支払い情報</div>
          </div>
          <div class="card-body">
            <p class="fw-bold">支払い方法：</p>
            <p>クレジットカード 下4桁 <%= @checkout.decorate.credit_card_number_part %></p>
            <p class="fw-bold">請求先住所：</p>
            <p><%= @checkout.name_on_card %></p>
            <div class="d-flex">
              <p><%= @checkout.prefecture.name %></p>
              <p class="ms-2"><%= @checkout.address %></p>
            </div>
            <p><%= @checkout.address2 %></p>
          </div>
          <div class="card-footer bg-white justify-content-between d-flex">
            <p class="fw-bold">クレジットカードへの請求</p>
            <div>
              クレジットカード（下4けたが <%= @checkout.decorate.credit_card_number_part %>）:  <%= @checkout.created_at.to_s(:date) %>
              <%= number_to_currency(total_price(@checkout_products)) %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
