<div class="container my-5">
  <%= render partial: 'shared/error_messages', locals: { product: @checkout } %>
  <main>
    <div class="py-5 text-center">
      <%= image_tag 'bootstrap-logo.svg', class: 'd-block mx-auto mb-4', size: "72x57" %>
      <h2>お支払いフォーム</h2>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">ショッピングカート</span>
        </h4>
        <ul class="list-group mb-3">
          <% @user_carts.each do |user_cart| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="mb-2"><%= user_cart.product.name %></h6>
              </div>
              <div class="mx-1">
                <div class="text-body-secondary mb-4"><%= number_to_currency(user_cart.product.price) %></div>
                <div class="text-body-secondary text-nowrap mb-2">数量: <%= user_cart.quantity %></div>
                <%= link_to "削除", product_carts_path(user_cart.product.id), data: { turbo_method: :delete, turbo_confirm: '商品をカートから削除します。よろしいですか？' }, class: 'btn btn-danger text-nowrap' %>
              </div>
            </li>
          <% end %>
          <% if @current_promotion_code %>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiar">
              <div class="text-success">
                <h6 class="my-0">クーポンコード</h6>
              </div>
              <span class="text-success">−<%= number_to_currency(@current_promotion_code.discount_amount) %></span>
            </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>小計</span>
            <strong><%= number_to_currency(@current_cart.total_price(@current_promotion_code)) %></strong>
          </li>
        </ul>
        <%= form_with model: @promotion_code, class: "card p-2", data: { turbo_frame: "new_promotion_code" } do |form| %>
          <div class="input-group">
            <%= form.text_field :code, class: "form-control", placeholder: "クーポンコード" %>
            <%= form.submit '適用', class: "btn btn-secondary" %>
          </div>
        <% end %>
        <div id="error_code">
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">請求先住所</h4>
        <%= form_with model: @checkout, data: { turbo: false }, class: "needs-validation" do |form| %>
          <div class="row g-3">
            <div class="col-sm-6">
              <%= form.label :first_name, class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control" %>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <%= form.label :last_name, class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control" %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <%= form.label :username, class: "form-label" %>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <%= form.text_field :username, class: "form-control", placeholder: "Username" %>
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="col-12">
              <%= form.label :email, class: "form-label" %>
              <%= form.text_field :email, class: "form-control", placeholder: "you@example.com" %>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12">
              <%= form.label :address, class: "form-label" %>
              <%= form.text_field :address, class: "form-control" %>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <%= form.label :address2, class: "form-label" %>
              <%= form.text_field :address2, class: "form-control" %>
            </div>
            <div class="col-md-5">
              <%= form.label :country, class: "form-label" %>
              <%= form.select :country, {'日本': 1}, {}, class: "form-select" %>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4">
              <%= form.label :prefecture_id, class: "form-label" %>
              <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:"form-select"} ) %>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :zip, class: "form-label" %>
              <%= form.text_field :zip, class: "form-control" %>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-check">
            <%= form.check_box :is_same_address ,{ class: "form-check-input" }, "true", "false" %>
            <%= form.label :is_same_address, class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.check_box :is_save ,{ class: "form-check-input" }, "true", "false" %>
            <%= form.label :is_save, class: "form-check-label" %>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">クレジットカード情報</h4>
          <div class="row gy-3">
            <div class="col-md-6">
              <%= form.label :name_on_card, class: "form-label" %>
              <%= form.text_field :name_on_card, class: "form-control" %>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6">
              <%= form.label :credit_card_number, class: "form-label" %>
              <%= form.text_field :credit_card_number, class: "form-control" %>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :expiration, class: "form-label" %>
              <%= form.text_field :expiration, class: "form-control" %>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :cvv, class: "form-label" %>
              <%= form.text_field :cvv, class: "form-control" %>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="my-4">
          <%= form.submit '購入する', class: "w-100 btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
