<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">1616 Shop</h1>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <%= render partial: 'shared/flash' %>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <%= link_to image_tag(product.decorate.display_image, class:"card-img-top img-thumbnail"), product_path(product.id) %>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= link_to product.name, product_path(product.id), class: "text-decoration-none" %></h5>
                <!-- Product price-->
                <%= number_to_currency(product.price) %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><%= link_to "Add to cart", product_carts_path(product.id, "cart":{"quantity":"1"}), data: { turbo_method: :post }, class: "btn btn-outline-dark mt-auto" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
