<!DOCTYPE html>
<html>
  <head>
    <title>1616 Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><%= link_to 'ホーム', admin_products_path, class:"nav-link active fs-5" %></li>
          </ul>
        </div>
        <%= link_to '1616 Shop', root_path, class:"navbar-brand" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
